/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Light grey background */
    color: #333333; /* Dark text color */
}

.btn-success {
    background-color: #81c784; /* Light green */
    border-color: #66bb6a; /* Slightly darker green */
    color: #ffffff;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
    background-color: #66bb6a; /* Slightly darker green */
    border-color: #4caf50; /* Dark green */
    color: #cdf7dd;
}

.list-group-item {
    background-color: #ffffff; /* White background */
    border: 1px solid #e0e0e0; /* Light grey border */
    color: #333333;
}

.list-group-item:hover, .list-group-item:focus {
    background-color: #f1f8e9; /* Very light green */
    border-color: #c8e6c9; /* Light green border */
}

.list-group-item-heading {
    font-size: 18px;
    font-weight: bold;
    color: #388e3c; /* Medium green */
}

.list-group-item-text {
    color: #666666; /* Grey text */
}

.img-responsive {
    max-height: 50px;
    border-radius: 4px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

hr {
    border: 1px solid #e0e0e0; /* Light grey */
}
